.panel__header__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.panel__header__title {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  color: var(--primary-color);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.panel__header__subtitle {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: var(--optional-text-color);
}