.panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;;
  border-radius: 20px;
  background-color: var(--panel-background);
  z-index: var(--zindex-fixed);
}

.panel__content {
  overflow-y: scroll;
}